body {
  background-color: white;
}
* {
  font-family: 'PT Sans';
  color: #333333;
}
ul {
  list-style: none;
}
.container__title {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
    margin-left: 80px;
  }
.container-fluid.promo > .row:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
}
.header {
  background: white;
  height: 72px;
}
.header__logo {
    margin-top: 10px;
    margin-left: 80px;
  }
.header__sign {
  text-decoration: underline;
  color: #ff8d3f;
  font-weight: bold;
    font-size: 18px;
    float: right;
    line-height: 72px;
    margin-right: 80px;
  }
.place {
  position: relative;
}
.place > div {
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 0;
  }
.promo {
  height: 435px;
  background: url('../img/promo.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.promo > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
.promo__title {
  color: #4d636c;
  font-size: 30px;
  font-weight: bold;
  }
.promo__description {
  color: #4d636c;
  font-size: 30px;
  font-weight: bold;
  }
.promo__card {
    width: 1175px;
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
.promo__white-place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    width: 570px;
    height: 100%;
    background-image: url('../img/place-qudro.png');
    background-color: white;
  }
.promo__white-place .info__image {
      padding-left: 20px;
      padding-right: 30px;
    }
.promo__white-place .place__describe {
          width: 335px;
      }
.promo__white-place .place__title {
  position: relative
      }
.promo__white-place .place__title::after {
  position: absolute;
  content: '';
  width: 70px;
  height: 3px;
  bottom: -20px;
  left: 0;
}
.promo__white-place .place__title {
  font-size: 20px;
  font-weight: bold;
  color: #65a9df;
}
.promo__white-place .place__title::after {
  background: #65a9df;
}
.promo__white-place .place__description {
        font-size: 18px;
        line-height: 28px;
        margin-top: 35px;
      }
.promo__info-place {
    display: grid;
    grid-template-rows: 175px 175px;
    grid-template-columns: 285px 285px;
  }
.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 285px;
  height: 175px;
  padding-left: 25px;
  background: #65a9df
  }
.info:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.info:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
  margin-top: 3px;
}
.info:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
  margin-left: 3px;
  margin-top: 3px;
}
.info span {
    display: block;
    color: white;
}
.info__count {
  position: relative;
}
.info__count::after {
  position: absolute;
  content: '';
  width: 70px;
  height: 3px;
  bottom: -20px;
  left: 0;
}
.info__count {
  font-size: 60px;
}
.info__count::after {
  background: white;
  bottom: 0;
}
.info__description {
      font-size: 18px;
      margin-top: 15px;
}