body {
  background-color: white;
}
* {
  font-family: 'PT Sans';
  color: #333333;
}
ul {
  list-style: none;
  padding-left: 0;
}
.container__title {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #4d636c;
  position: relative;
  }
.container__title::after {
  position: absolute;
  content: '';
  width: 70px;
  height: 3px;
  bottom: -20px;
  left: 0;
}
.advantage {
  position: relative;
  margin-top: 130px;
}
.advantage .container > .row:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
  width: 930px;
  height: 425px;
  position: absolute;
  top: 0;
  margin-left: 185px;
  margin-top: -45px;
  background: white;
}
.advantage .container > .row:nth-child(2) > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantage .container__title::after {
  background: #87b94f;
}
.advantage__description {
    width: 625px;
    margin-top: 30px;
  }
.advantage__list {
    font-size: 20px;
    margin-left: 10px;
  }
.advantage__list-header {
      font-size: 18px;
      color: #87b94f;
      font-weight: bold;
    }
.advantage__list li {
      position: relative;
      margin-top: 30px
    }
.advantage__list li::before {
  position: absolute;
  left: -10px;
  content: '- ';
  color: #4d636c;
  opacity: 0.3;
}
.appeal {
  position: relative;
  margin-top: 455px;
}
.appeal__shape-left, .appeal__shape-right {
      position: absolute;
    }
.appeal__shape-left {
      bottom: 80px;
      left: 0;
    }
.appeal__shape-right {
      top: -80px;
      right: 0;
    }
.appeal .container__title::after {
  background: #65a9df;
}
.appeal_bottom {
    margin-top: 85px;
  }
.appeal_bottom button {
      float: right;
      margin-top: -5px;
      margin-right: 25px;
    }
.appeal__description {
    padding-left: 185px;
  }
.appeal__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
.appeal__list img {
      margin-top: 40px;
      margin-bottom: 30px;
    }
.appeal__item {
    width: 300px;
    height: 385px;
    background: white;
    font-size: 18px;
    padding-left: 40px;
    margin-right: 25px;
  }
.appeal__title-item {
    color: #65a9df;
    font-weight: bold;
  }
.appeal__description-item {
    width: 200px;
    line-height: 28px;
    margin-top: 30px;
  }
.appeal__text {
    color: #4d636c;
    font-size: 30px;
    font-weight: bold;
  }
.button:focus {
  outline: none;
}
.button {
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  width: 215px;
  height: 60px;
  border: 0;
  border-radius: 30px;
  -webkit-box-shadow: 3px 2px 7px rgba(114, 122, 161, .35);
          box-shadow: 3px 2px 7px rgba(114, 122, 161, .35);
  background-color: #ffffff;
  color: #65a9df;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
.button:active {
  -webkit-box-shadow: 3px 2px 7px rgba(114, 122, 161, .1);
          box-shadow: 3px 2px 7px rgba(114, 122, 161, .1);
}
.button:hover {
  color: white;
  background-color: #65a9df;
}
.common {
  margin-top: 320px;
}
.common .container__title::after {
  background: #ff8d3f;
}
.common__row-title {
    padding-bottom: 15px;
  }
.common__description {
    padding-left: 185px;
  }
.common__description strong {
      color: #ff8d3f;
    }
.common__description p {
      font-size: 18px;
      line-height: 28px
    }
.common__description p:nth-child(n+2) {
  margin-top: 30px;
}
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 205px;
  background: url('../img/contact-background.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.contact input {
  color: #4d636c;
  font-size: 30px;
  font-weight: bold
  }
.contact input:focus {
  outline: none;
}
.contact input {
  width: 835px;
  height: 65px;
  border: 0;
  border-bottom: 1px solid #4d636c;
  background: none;
}
.contact input::-webkit-input-placeholder {
  color: #4d636c;
  font-size: 30px;
  font-weight: bold;
}
.contact input:-ms-input-placeholder {
  color: #4d636c;
  font-size: 30px;
  font-weight: bold;
}
.contact input::-ms-input-placeholder {
  color: #4d636c;
  font-size: 30px;
  font-weight: bold;
}
.contact input::placeholder {
  color: #4d636c;
  font-size: 30px;
  font-weight: bold;
}
.contact button {
    margin-left: 40px;
  }
.advantage .owl-carousel {
    position: static;
    position: initial;
  }
.advantage .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    height: 17px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
.advantage .owl-theme .owl-nav [class*=owl-], .advantage .owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
  }
.advantage .owl-next:after {
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  position: absolute;
  top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  font-family: "Icon";
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  color: #87b94f;
  content: "\e092";
  right: 35px;
}
.advantage .owl-prev.disabled {
  visibility:hidden;
}
.advantage .owl-prev:before {
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  position: absolute;
  top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  font-family: "Icon";
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  color: #87b94f;
  content: "\e091";
  left: 35px;
}
.advantage .dot {
  width: 7px;
  height: 7px;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  cursor: pointer;
  display: inline-block;
  background: white;
  float: left;
  }
.advantage .dot:nth-child(n+2) {
  margin-left: 20px;
}
.advantage .dot.active {
  width: 13px;
  height: 13px;
}
.advantage .dot {
  border: 2px solid #87b94f;
}
.promo-secondary .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    height: 17px;
    position: absolute;
    left: 0;
  }
.promo-secondary .owl-theme .owl-nav [class*=owl-], .promo-secondary .owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
  }
.promo-secondary .owl-theme .owl-nav [class*=owl-] {
    color: transparent;
  }
.promo-secondary .dot {
  width: 7px;
  height: 7px;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  cursor: pointer;
  display: inline-block;
  background: white;
  float: left;
  }
.promo-secondary .dot:nth-child(n+2) {
  margin-left: 20px;
}
.promo-secondary .dot.active {
  width: 13px;
  height: 13px;
}
.promo-secondary .dot {
  border: 2px solid #67509c;
  background: transparent;
  margin-top: 50px;
}
.product .owl-carousel {
    position: static;
    position: initial;
  }
.product .owl-theme .owl-nav [class*=owl-], .product .owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
  }
.product .owl-nav {
    width: 0;
  }
.product .owl-next:after {
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  position: absolute;
  top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  font-family: "Icon";
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  color: #87b94f;
  content: "\e092";
  right: 35px;
}
.product .owl-next {
  width: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  color: transparent !important;
}
.product .owl-next:after {
  right: -40px;
}
.product .owl-next.disable {
  width: 0 !important;
}
.product .owl-prev.disabled {
  visibility:hidden;
}
.product .owl-prev:before {
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  position: absolute;
  top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  font-family: "Icon";
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  color: #87b94f;
  content: "\e091";
  left: 35px;
}
.product .owl-prev {
  width: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  color: transparent !important;
}
.product .owl-prev.disable {
  width: 0 !important;
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  background: #4d636c;
}
.footer p {
    color: white;
    font-size: 18px;
  }
.footer__adress:nth-child(1) {
  margin-bottom: 0;
}
.footer__contact {
    margin-bottom: 0;
    margin-top: 25px;
  }
.footer__coop {
    margin-bottom: 0;
    margin-top: 50px;
  }
.footer__telephone {
    font-weight: bold;
  }
.footer__left strong {
      font-weight: bold;
      color: white;
    }
.footer__middle strong {
      color: #65a9df;
      font-weight: bold;
    }
.header {
  background: white;
  height: 72px;
}
.header__logo {
    margin-top: 10px;
    margin-left: 80px;
  }
.header__sign {
  text-decoration: underline;
  color: #ff8d3f;
  font-weight: bold;
    font-size: 18px;
    float: right;
    line-height: 72px;
    margin-right: 80px;
  }
.img-row-fix {
  height: 100%;
}
.news {
  margin-top: 180px;
}
.news .container__title::after {
  background: #65a9df;
}
.news__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
  }
.news__table-left, .news__table-right {
      display: grid;
      grid-template-rows: 175px 175px 175px;
      grid-template-columns: 285px 285px;
    }
.news__table-left > div:nth-child(1) {
  grid-column: 1;
  grid-row: 2;
}
.news__table-left > div:nth-child(1) .news__item-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 175px;
  padding: 0 30px;
}
.news__table-left > div:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}
.news__table-left > div:nth-child(2) img {
            position: static;
            position: initial;
}
.news__table-right > div:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.news__table-right > div:nth-child(1) .news__item-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 175px;
  padding: 0 30px;
}
.news__table-right > div:nth-child(1) .news__item-overlay {
  height: 100%;
  padding: 0 60px;
}
.news__table-right > div:nth-child(2) {
  grid-column: 1;
  grid-row: 3;
}
.news__table-right > div:nth-child(2) .news__item-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 175px;
  padding: 0 30px;
}
.news__item-overlay {
      min-width: 285px;
      min-height: 175px;
      padding-top: 20px;
      padding-left: 20px;
    }
.news__item-blue, .news__item-white {
      position: relative;
    }
.news__item-blue img {
  position: absolute;
  top: 0;
    }
.news__item-blue span {
  display: block;
  z-index: 1;
  position: relative
    }
.news__item-blue span:nth-child(1) {
  position: relative;
}
.news__item-blue span:nth-child(1)::after {
  position: absolute;
  content: '';
  width: 70px;
  height: 3px;
  bottom: -20px;
  left: 0;
}
.news__item-blue span:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
}
.news__item-blue span:nth-child(1):after {
  bottom: -10px;
}
.news__item-blue span:nth-child(2) {
  font-size: 18px;
  margin-top: 20px;
}
.news__item-blue span {
  color: white
    }
.news__item-blue span:after {
  background: white;
}
.news__item-white {
      background: white;
    }
.news__item-white img {
  position: absolute;
  top: 0;
    }
.news__item-white span {
  display: block;
  z-index: 1;
  position: relative
    }
.news__item-white span:nth-child(1) {
  position: relative;
}
.news__item-white span:nth-child(1)::after {
  position: absolute;
  content: '';
  width: 70px;
  height: 3px;
  bottom: -20px;
  left: 0;
}
.news__item-white span:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
}
.news__item-white span:nth-child(1):after {
  bottom: -10px;
}
.news__item-white span:nth-child(2) {
  font-size: 18px;
  margin-top: 20px;
}
.news__item-white span:nth-child(1) {
  color: #65a9df;
}
.news__item-white span:nth-child(2) {
  color: black;
}
.news__item-white span:after {
  background: #65a9df;
}
.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 375px;
}
.product .container__title::after {
  background: #87b94f;
}
.product .container .row:nth-child(2) {
  padding-bottom: 40px;
}
.product__row-title {
    margin-bottom: 40px;
  }
.product__description {
    padding-left: 100px;
  }
.product__list {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
.product__list li:nth-child(n+2) {
  margin-left: 70px;
}
.promo-secondary {
  height: 855px;
  margin-top: 90px;
  position: relative;
  background: url('../img/mockup/mockup-background.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.promo-secondary__mockup {
    position: absolute;
    top: 130px;
    right: 0;
  }
.promo-secondary__list {
    margin-top: 120px;
    width: 445px;
    height: 185px;
    font-size: 18px;
  }
.promo-secondary__list strong {
      color:#67509c;
      font-weight: bold;
    }
.promo-secondary__list p {
      margin-top: 15px;
    }
.place {
  position: relative;
}
.place > div {
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 0;
  }
.place__shape {
    position: absolute;
    right: -35px;
    z-index: -1;
  }
.promo {
  height: 435px;
  background: url('../img/promo.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.promo > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
.promo__title {
  color: #4d636c;
  font-size: 30px;
  font-weight: bold;
  }
.promo__description {
  color: #4d636c;
  font-size: 30px;
  font-weight: bold;
  }
.promo__card {
    width: 1175px;
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
.promo__white-place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    width: 570px;
    height: 100%;
    background-image: url('../img/place-qudro.png');
    background-color: white;
  }
.promo__white-place .info__image {
      padding-left: 20px;
      padding-right: 30px;
    }
.promo__white-place .place__describe {
          width: 335px;
      }
.promo__white-place .place__title {
  position: relative
      }
.promo__white-place .place__title::after {
  position: absolute;
  content: '';
  width: 70px;
  height: 3px;
  bottom: -20px;
  left: 0;
}
.promo__white-place .place__title {
  font-size: 20px;
  font-weight: bold;
  color: #65a9df;
}
.promo__white-place .place__title::after {
  background: #65a9df;
}
.promo__white-place .place__description {
        font-size: 18px;
        line-height: 28px;
        margin-top: 35px;
      }
.promo__info-place {
    display: grid;
    grid-template-rows: 175px 175px;
    grid-template-columns: 285px 285px;
  }
.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 285px;
  height: 175px;
  padding-left: 25px;
  background: #65a9df
  }
.info:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.info:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
  margin-top: 3px;
}
.info:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
  margin-left: 3px;
  margin-top: 3px;
}
.info span {
    display: block;
    color: white;
}
.info__count {
  position: relative;
}
.info__count::after {
  position: absolute;
  content: '';
  width: 70px;
  height: 3px;
  bottom: -20px;
  left: 0;
}
.info__count {
  font-size: 60px;
}
.info__count::after {
  background: white;
  bottom: 0;
}
.info__description {
      font-size: 18px;
      margin-top: 15px;
}
.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 595px;
  margin-top: 180px;
  background: url('../img/review/review-background.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.reviews .container__title::after {
  background: #ff8d3f;
}
.reviews__description {
    padding-left: 185px;
  }
.reviews__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
  }
.reviews__list li {
      width: 460px;
      height: 385px;
      background: white;
      font-size: 18px;
      padding-top: 40px;
      padding-left: 30px;
      padding-right: 30px
    }
.reviews__list li:nth-child(n+2) {
  margin-left: 30px;
}
.reviews__title-item {
    margin-left: 10px;
    color: #ff8d3f;
    font-weight: bold;
  }
.reviews__description-item {
    width: 310px;
    margin-top: 25px;
    margin-left: 65px;
  }