.advantage {
  position: relative;
  margin-top: 130px;

  .container {
    > .row {
      &:nth-child(2) {
        @apply --centerV;
        size: 930px 425px;
        position: absolute;
        top: 0;
        margin-left: 185px;
        margin-top: -45px;
        background: white;

        > div {
          @apply --centerH;
        }
      }
    }
  }

  .container__title {
    &::after {
      background: var(--green);
    }
  }

  &__description {
    width: 625px;
    margin-top: 30px;
  }

  &__list {
    font-size: 20px;
    margin-left: 10px;

    &-header {
      font-size: 18px;
      color: var(--green);
      font-weight: bold;
    }

    li {
      position: relative;
      margin-top: 30px;

      &::before {
        position: absolute;
        left: -10px;
        content: '- ';
        color: var(--gray);
        opacity: 0.3;
      }
    }
  }
}

@media (max-width: 1260px) {
  .advantage {
    .container {
      > .row {
        &:nth-child(2) {
          width: 800px;
          margin-left: 255px;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .advantage {
    .container {
      > .row {
        &:nth-child(2) {
          width: 100%;
          position: initial;
          margin: 0;
          margin-top: 50px;
          background: white;
        }
      }
    }
  }
}

@media (max-width: 760px) {
  .advantage {
    &__list {
      font-size: 16px;

      li {
        width: 500px;
      }

      &-header {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 600px) {
  .advantage {
    &__description {
      overflow: hidden;
      margin-top: 0;
    }

    .container {
      > .row {
        &:nth-child(2) {
          height: 350px;
        }
      }
    }

    &__list {
      &-header {
        margin-left: 10px;
      }

      li {
        width: 260px;
      }
    }
  }
}

@media (max-width: 400px) {
  .advantage {
    .item {
      padding-left: 30px;
    }
  }
}