.appeal {
  position: relative;
  margin-top: 455px;

  &__shape {
    &-left, &-right {
      position: absolute;
    }

    &-left {
      bottom: 80px;
      left: 0;
    }

    &-right {
      top: -80px;
      right: 0;
    }
  }

  .container__title {
    &::after {
      background: var(--primary);
    }
  }

  &_bottom {
    margin-top: 85px;

    button {
      float: right;
      margin-top: -5px;
      margin-right: 25px;
    }
  }

  &__description {
    padding-left: 185px;
  }

  &__list {
    display: flex;
    
    img {
      margin-top: 40px;
      margin-bottom: 30px;
    }
  }

  &__item {
    size: 300px 385px;
    background: white;
    font-size: 18px;
    padding-left: 40px;
    margin-right: 25px;
  }

  &__title-item {
    color: var(--primary);
    font-weight: bold;
  }

  &__description-item {
    width: 200px;
    line-height: 28px;
    margin-top: 30px;
  }

  &__text {
    color: var(--gray);
    font-size: 30px;
    font-weight: bold;
  }
}

@media (max-width: 1119px) {
  .appeal {
    margin-top: 100px;

    &__description {
      margin-top: 50px;
      padding-left: 0;

      &-item {
        margin-top: 15px;
      }
    }

    &__list {
      img {
        margin-top: 30px;
      }
    }

    &__item {
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 991px) {
  .appeal {
    &__item {
      padding-left: 20px;
      padding-right: 20px;
    }

    &__text {
      display: block;
    }

    &_bottom {
      .appeal__description {
        text-align: center;
      }
      
      button {
        float: initial;
        margin-top: 25px;
      }
    }
  }
}

@media (max-width: 880px) {
  .appeal {
    &__item {
      &:last-child {
        margin-right: 25px;
      }
    }

    &__list {
      flex-direction: column;
      align-items: center;

      li {
        margin-top: 20px;
      }
    }
  }
}