:root {
  --icon: {
    animation-standard: 0.15s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Icon";
    font-size: 20px;
    text-align: center;
    cursor: pointer;
  }

  --dot: {
    size: 7px;
    animation-standard: 0.15s;
    cursor: pointer;
    display: inline-block;
    background: white;
    float: left;
    
    &:nth-child(n+2) {
      margin-left: 20px;
    }

    &.active {
      size: 13px;
    }
  }

  --arrow-next: {
    &:after {
      @apply --icon;
      color: var(--green);
      content: "\e092";
      right: 35px;
    }
  }

  --arrow-prev: {
    &.disabled {
      visibility:hidden
    }

    &:before {
      @apply --icon;
      color: var(--green);
      content: "\e091";
      left: 35px;
    }
  }
}


.advantage {
  .owl-carousel {
    position: initial;
  }

  .owl-dots {
    @apply --center;
    height: 17px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .owl-theme .owl-nav [class*=owl-], .owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
  }

  .owl-next {
    @apply --arrow-next;
  }

  .owl-prev {
    @apply --arrow-prev
  }

  .dot {
    @apply --dot;
    border: 2px solid var(--green);
  }
}

.promo-secondary {
  .owl-dots {
    @apply --center;
    height: 17px;
    position: absolute;
    left: 0;
  }

  .owl-theme .owl-nav [class*=owl-], .owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
  }

  .owl-theme .owl-nav [class*=owl-] {
    color: transparent;
  }

  .dot {
    @apply --dot;
    border: 2px solid var(--purple);
    background: transparent;
    margin-top: 50px;
  }
}

.product {
  .owl-carousel {
    position: initial;
  }

  .owl-theme .owl-nav [class*=owl-], .owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
  }

  .owl-nav {
    width: 0;
  }

  .owl-next {
    @apply --arrow-next;
    width: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    color: transparent !important;

    &:after {
      right: -40px;
    }

    &.disable {
      width: 0 !important;
    }
  }

  .owl-prev {
    @apply --arrow-prev;
    width: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    color: transparent !important;

    &.disable {
      width: 0 !important;
    }
  }
}