.product {
  @apply --centerH;
  flex-direction: column;
  height: 375px;

  .container__title {
    &::after {
      background: var(--green);
    }
  }

  .container {
    .row {
      &:nth-child(2) {
        padding-bottom: 40px;
      }
    }
  }

  &__row-title {
    margin-bottom: 40px;
  }

  &__description {
    padding-left: 100px;
  }

  &__list {
    display: flex !important;

    li {
      size: 164px;
      &:nth-child(n+2) {
        margin-left: 70px;
      }
    }
  }
}

@media (max-width: 1299px) {
  .product {
    &__description {
      padding-left: 0;
    }
  }
}

@media (max-width: 1000px) {
  .owl-item {
    &.active {
      display: flex;
      justify-content: center;
    }
  }
}