.promo-secondary {
  height: 855px;
  margin-top: 90px;
  position: relative;
  background: url('../img/mockup/mockup-background.png');
  background-repeat: no-repeat;
  background-size: cover;

  &__mockup {
    position: absolute;
    top: 130px;
    right: 0;
  }

  &__list {
    margin-top: 120px;
    size: 445px 185px;
    font-size: 18px;

    strong {
      color:var(--purple);
      font-weight: bold;
    }

    p {
      margin-top: 15px;
    }
  }
}

@media (max-width: 1199px) {
  .promo-secondary {
    background: url('../img/promo-second-quadro.png') no-repeat left, linear-gradient(31deg, #74ebd5 0%, #acb6e5 100%);

    .container {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
      width: 750px;
    }

    &__mockup {
      position: initial;
      right: 0;
      width: 700px;
    }

    &__list {
      margin-top: 40px;
      width: initial;
    }
  }
}

@media (max-width: 760px) {
  .promo-secondary {
    height: initial;
    .container {
      margin: 0;
      padding: 0;
      width: initial;
    }

    &__item {
      p {
        padding-left: 25px;
        padding-right: 25px;
        width: 100%;
      }
    }

    &__mockup {
      display: block;
      margin: auto;
      width: 80%;
    }
  }
}

@media (max-width: 500px) {
  .promo-secondary {
    &__mockup {
      margin-top: 100px;
    }
  }
}

@media (max-width: 400px) {
  .promo-secondary {
    > .row {
      .container {
        .row {
          width: 320px;
        }
      }
    }
  }
}