.promo-secondary {
  height: 855px;
  margin-top: 90px;
  position: relative;
  background: url('../img/mockup/mockup-background.png');
  background-repeat: no-repeat;
  background-size: cover;

  &__mockup {
    position: absolute;
    top: 130px;
    right: 0;
  }

  &__list {
    margin-top: 120px;
    size: 445px 185px;
    font-size: 18px;

    strong {
      color:var(--purple);
      font-weight: bold;
    }

    p {
      margin-top: 15px;
    }
  }
}

@media (max-width: 1199px) {
  .promo-secondary {
    background: linear-gradient(31deg, #74ebd5 0%, #acb6e5 100%);

    &__mockup {
      position: initial;
      right: 0;
      width: 700px;
    }

    &__list {
      margin-top: 40px;
      width: initial;
    }
  }
}

@media (max-width: 710px) {
  .promo-secondary {
    &__mockup {
      width: 500px;
    }
  }
}