:root {
  --promo-title: {
    color: var(--gray);
    font-size: 30px;
    font-weight: bold;
  }
}

.place {
  position: relative;

  > div {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
  }

  &__shape {
    position: absolute;
    right: -35px;
    z-index: -1;
  }
}

.promo {
  height: 435px;
  background: url('../img/promo.png');
  background-repeat: no-repeat;
  background-size: cover;

  > div {
    @apply --center;
    flex-direction: column;
    height: 100%;
  }

  &__title {
    @apply --promo-title;
  }

  &__description {
    @apply --promo-title;
  }

  &__card {
    size: 1175px 350px;
    display: flex;
  }

  &__white-place {
    @apply --center;
    size: 570px 100%;
    background-image: url('../img/place-qudro.png');
    background-color: white;

    .info__image {
      padding-left: 20px;
      padding-right: 30px;
    }

    .place {
      &__describe {
          width: 335px;
      }

      &__title {
        @apply --underline;
        font-size: 20px;
        font-weight: bold;
        color: var(--primary);

        &::after {
          background: var(--primary);
        }
      }

      &__description {
        font-size: 18px;
        line-height: 28px;
        margin-top: 35px;
      }
    }
  }

  &__info-place {
    display: grid;
    grid-template-rows: 175px 175px;
    grid-template-columns: 285px 285px;
  }
}



.info {
  @apply --centerH;
  flex-direction: column;
  size: 285px 175px;
  padding-left: 25px;
  background: var(--primary);

  &:nth-child(1) {
    gridCell: 1 1;
  }

  &:nth-child(2) {
    gridCell: 2 1;
    margin-top: 3px;
  }

  &:nth-child(3) {
    gridCell: 2 2;
    margin-left: 3px;
    margin-top: 3px;
  }

  span {
    display: block;
    color: white;
  }

  &__count {
    @apply --underline;
    font-size: 60px;

    &::after {
        background: white;
        bottom: 0;
      }
    }

    &__description {
      font-size: 18px;
      margin-top: 15px;
    }
}

@media (max-width: 1250px) {
  .promo {
    &__card {
      width: initial;
    }

    &__white-place {
      flex-direction: column;
      text-align: center;
    }
  }

  .place {
    &__title {
      &:after {
        width: 100% !important;
      }
    }
  }
}

@media (max-width: 1020px) {
  .promo {
    &__card {
      height: initial;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__info-place {
      display: grid;
      grid-template-rows: 175px 175px 175px;
      grid-template-columns: 570px;
    }

    &__white-place {
      height: 350px;
    }
  }

  .info {
    width: 570px;
    &:nth-child(1) {
      gridCell: 1 1;
      margin: 0;
    }

    &:nth-child(2) {
      gridCell: 2 1;
      margin: 0;
      margin-top: 5px;
    }

    &:nth-child(3) {
      gridCell: 3 1;
      margin: 0;
      margin-top: 10px;
    }
  }
}

@media (max-width: 720px) {
  .promo {
    &__info-place {
      grid-template-columns: 430px;
    }

    &__white-place {
      width: 430px;
    }
  }

  .info {
    width: 430px;
  }
}